.works__box {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.works__item {
  max-width: 25%;
  // border: 1px solid #ffffff;
  position: relative;
}

.work-image {
  display: block;
  width: 100%;
}

// .works__item-info {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: absolute;
//
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   background-color: rgba(232, 69, 69, 0.85);
//   opacity: 0;
//   transition: all linear 0.3s;
// }
// .works__item-info:hover {
//   opacity: 1;
// }

/* FONTS */
// .works__item__info-title {
//   font-size: 14px;
//   padding-bottom: 13px;
//   text-transform: uppercase;
//   font-weight: bold;
//   color: rgba(255, 255, 255, 0.85);
//   transition: all linear 0.3s;
// }

// .works__item__info-subtitle {
//   font-size: 14px;
//   color: rgba(255, 255, 255, 0.6);
//   transition: all linear 0.3s;
// }